h1{
    color: rgb(138, 168, 168);
}

.menu{
    display:flex;
    list-style-type: none;
    justify-content: center;
    background-color: rgb(130, 186, 186);
    
    }

.menu li{
    display: flex;
    list-style-type: none;
    margin: 20px;
    font-weight: 400;
    font-size: larger;
    
}
.code{
    display:flex;
    list-style-type:none;
    justify-content: center;
    background-color: rgb(131, 183, 183);
}

.code li{
    margin: 20px;
    font-weight:400 ;
    font-size: larger;
}
.high{
    display:flex;
    list-style-type:none;
    justify-content: center;
    background-color: rgb(131, 183, 183);
}
.high li{
    margin: 20px;
    font-weight:400 ;
    font-size: larger;
}
#tag{
    display: flex;
    justify-content: center;
}








